@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

        /* CSS reset */

        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-weight: normal;
        }


        body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}




ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;

}

main img {
    height: 400px;
    
}
#barn-img{
    height: 300px;
}

/* CSS reset */


.nav{
    background-color: lightblue;
    
}

.nav > ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.nav a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    
}

.nav a:hover{
    transition: 100ms;
    border-radius: 10px;
    font-size: 30px;
}
main{
    background-color: rgb(200, 255, 192);
}



footer{
    background-color: turquoise;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid black 1px;

}
.grid > *{
    border: solid black 1px;
    align-content: center;
    
}

h1{
    text-align: center;
}

#fish-img{
    background-image: url(./bilder/IMG_1951.jpeg);
     background-repeat: no-repeat;
   background-position: center center;
  background-size: cover;
  height: 378px;
}
.container{
    border: 5px solid black;
    max-width: fit-content;
    margin: auto;

        
    
}
th{
    padding: 10px;
    border: solid 2px black;
    
    
}
td{
    text-align: center;
    border: 2px black solid;
    width: 15%;
    padding: 20px;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 90%;
}



